In [9]:
import quandl
import pandas as pd
import os
from pathlib import Path
import datetime

In [15]:
# Setting the quandl API key variable within the quandl class

quandl.ApiConfig.api_key = os.getenv("QUANDL_API_KEY")

# Getting the Sentiment Data from quandl

sentiment_data = pd.DataFrame(quandl.get(["AAII/AAII_SENTIMENT.1", "AAII/AAII_SENTIMENT.2", "AAII/AAII_SENTIMENT.3"], start_date = "2003-01-01", end_date = "2020-02-01"))
sentiment_data.columns = ['Bullish', 'Neutral', 'Bearish']
#sentiment_data.reset_index(inplace = True)
sentiment_data.head()

            Bullish  Neutral  Bearish
Date
2003-01-02   0.3243   0.2973   0.3784
2003-01-09   0.3810   0.1905   0.4286
2003-01-16   0.2917   0.4167   0.2917
2003-01-23   0.2500   0.3182   0.4318
2003-01-30   0.2553   0.2660   0.4787

In [16]:
sentiment_data.to_csv("AAII_Sentiment_20030101_20200201.csv")